DEBUG=False
SECRET_KEY=gere-uma-chave-longa-e-aleatoria-e-unica
SECRET_SALT=gere-outro-segredo-longo-e-independente

ALLOWED_HOSTS=localhost,127.0.0.1,enps.grupoflexivel.com.br
CSRF_TRUSTED_ORIGINS=https://enps.grupoflexivel.com.br

DB_NAME=enps
DB_USER=enps_app
DB_PASSWORD=gere-uma-senha-forte-e-exclusiva
DB_HOST=db
DB_PORT=5432

DB_CONN_MAX_AGE=60
SECURE_SSL_REDIRECT=True
SECURE_HSTS_SECONDS=31536000
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
